/* .changePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; /* Add a border for visual clarity */
   /*border-radius: 5px; /* Rounded corners for aesthetics */
   /*background-color: #f9f9f9; /* Light background for contrast */
  /*}
  
  .changePasswordInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add a border around input fields */
    /*border-radius: 5px; /* Rounded corners for inputs */
   /* box-sizing: border-box; /* Include padding and border in element's total width and height */
  /*}
  
  .changePasswordButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for button */
  /*transition: background-color 0.3s; /* Smooth transition for hover effect */
  /*}
  
  .changePasswordButton:hover {
    background-color: #0056b3;
  } */